<div class="nested-fields">
  <table>
    <tr>
      <td class="td-fixed-content">
        <%= f.text_field :content,placeholder: "他の材料は?" %>
      </td>
      <td class="td-fixed-quantity">
        <%= f.text_field :quantity,placeholder: "2個" %>
      </td>      
      <td class="td-fixed-delete">
        <%= link_to_remove_association "削除", f %>
      </td>
    </tr>
  </table>
</div>