<h1>みんなのレシピ</h1>
<% @recipes.each do |recipe| %>
<div>
  <%= link_to admin_recipe_path(recipe.id) do %>
    <% if recipe.image.attached? %>
        <%= image_tag mikan.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'l_e_others_501', size: "200x200" %><br>
    <% end %>  
      <%= recipe.title %>
  <% end %>
</div>
<% end %>
