<div class="nested-fields">
  <table>
    <tr>
      <td class="td-fixed-direction">
        <%= f.text_area :direction,placeholder: "どんなふうに？",class: "form-control introduction" %>
      </td>
      <td class="td-fixed-step_image">
        <%= f.file_field :images, accept: "image/*" %>
      </td>
      <td class="td-fixed-delete">

        
        <%= link_to_remove_association "削除", f %>

      </td>
    </tr>
  </table>
</div>