<h1>タグ一覧</h1>
<table>
  <thead>
    <tr>
      <th>タグ名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @tags.each do |tag| %>
      <td>
        <%# タグの名前と、関連付く記事数を表示 %>
        <%= link_to "#{tag.name} ( Recipes: #{tag.recipes.count} )", admin_tags_path %>
      </td>
      <td><%= link_to"削除",admin_tag_path(tag.id),method: :delete, "data-confirm" => "本当に消しますか？" %></td>
    <% end %>
    </tr>
  </tbody>
</table>