<p>top</p>

<% @mikans.each do |mikan| %>
<div>
  <%= mikan.mikan_name %><br>
  
  <%= link_to mikan_path(mikan.id) do %>
    <% if mikan.images.length > 0 %>
        <%= image_tag mikan.images.first, size: "200x200" %>
    <% else %>
      <%= image_tag 'l_e_others_501', size: "200x200" %>
    <% end %>
  <% end %>
</div>
<% end %>
