/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

// sign_up
.sign-up{
    text-align: center;
}

// sign_in
.sign-in{
    text-align: center;
}
//  nav
 .navbar-nav{
  position: fixed;
  top: 10vh;
	right:0;
	z-index:1;
  font-size:0; /* 親要素でフォントサイズを０にする */
 }
 
 .flex-wrap {
   flex-wrap: wrap;
 }
 
 ul.flex-wrap {
   width: 80px; 
 }
 
 .nav-btn {
   border: none;
   background-color: inherit;
 }
 
 .vertical-text{
   writing-mode: vertical-rl;
 }

 .nav-item{
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 0.8rem; /*  フォントサイズ0になっているので指定する */
  /* 以下、装飾 */
	padding: 7px 30px;
  color:#9F886E;
	background-color: rgba(255,255,255,0.7);
 }

// background
.bg-img{
  background-image: image-url("bg.jpeg");
  background-size:cover;
}

.main{
  margin: 10px;
}

.main .contents{
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 10px;
  padding-bottom: 80px;
  background-color: #fff;
}

.main-head{
    margin-top: 15px;
    position: relative;
}

.footer .outer{
  padding: 50px 15px;
  background-image: image-url("bg_footer.jpeg");
  background-size:cover;
}

// top mikan_index
.mikan-head {
    display: flex;
}

.head-img{
    width: 400px;
    height: 400px;
}

.mikan-image {
    width: 300px;
    height: 300px;
}

.mikan-about{
    display: block;
    text-align: center;
}
.main-mikan-img{
    margin-top: 40px;
}

.mikan-about span{
    font-size: 26px;
    color: #2E8B57;
}

.mikan-about p{
    margin-top: 40px;
}

.mikan-contents{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em 7em;
    margin: 8em;
    border: double 5px 	#2E8B57;
    position: relative;
}

.mikan-contents .mikan-contents-title{
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #2E8B57;
    font-weight: bold;    
}

.mikan-content{
    position: relative;
}

.mikan-content + .mikan-content:not(:nth-of-type(4n + 1)):before {
    content: "";
    height: 200px;
    width: 2px;
    background: #0e6613;
    z-index: 1;
    position: absolute;
    top: 10px;
    left: -1px;
}

.mikan-content p{
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #016411;
    text-align: center;
    top: 26px;
    left: 0;
}

// mikan_show
.mikan-name{
    display: flex;
    justify-content: center;
    color: #016411;
    font-size: 30px;
    margin-top: 40px;
}

.mikan-box-1{
    padding: 40px;
    justify-content: space-evenly;
    display: flex;
}

.mikan-box-2{
    justify-content: space-evenly;
    display: flex;
}

.box26 {
    position: relative;
    margin: 3em 0;
    padding: 1.5em 11em;
    border: solid 3px 	#2E8B57;
    border-radius: 8px;
}

.box26 .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: 	#2E8B57;
    font-weight: bold;
}

.box26 p {
    margin: 0; 
    padding: 0;
}

.mikan-show{
    display: flex;
}

.mikan-img{
    text-align : center;
}

.mikan-img-2{
    margin-top: 20px;
        width: 450px;
    height: auto;
}

.mikan-img-no-2{
    margin-top: 20px;
    width: 50%;
    height: auto;
}

.mikan-img-3{
    width: 20%;
    height: auto;
    margin-left: 175px;
}

.mikan-img-no-3{
    width: 20%;
    height: auto;    
    margin-left: 175px;
}

.balloon5 {
    text-align: center;
    width: 100%;
    margin: 1.5em 0;
    overflow: hidden;
}

.balloon5 .faceicon {
  float: left;
  margin-right: 90px;
  width: 80px;
}

.balloon5 .faceicon img{
  width: 400%;
  height: auto;
  border-radius: 50%;
  margin-left: 100px;
}

.balloon5 .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative; 
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #FFAD90;
  margin-top: 118px;
  margin-left: -700px;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px; 
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #FFAD90;
}

.says p {
  margin: 0;
  padding: 0;
}

// recipe_index
.recipe-label h3 {
  position: absolute;
  top: 50%;
  left: 23%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: #fff;
  background-image: image-url("bg_orange-types.png");
  font-size: 40px;
  /*文字の装飾は省略*/
  }
  
  .card{
    margin-top: 40px;
  }
  
  .card-title{
      color: #FF6928;
  }

// recipe_show
.recipe-img{
    text-align : center;
}

.recipe-img-1{
    margin-top: 20px;
    width: 80%;
    height: auto;
}

.recipe-img-no-1{
    margin-top: 20px;
    width: 80%;
    height: auto;
}

.recipe-contents{
    display: block;
    text-align: center;
}

.recipe-text{
    color: 	#2E8B57;
}

.recipe-main-text{
    font-weight: bold;
    color: #FF6928;
}

.text-border{
    text-decoration: underline;
    text-decoration-color: #BBBBBB;
}

.steps {
  counter-reset: rank;
}
 
.steps .step::before { /* ラベルと順位のスタイル */
  counter-increment: rank;
  content: "- STEP " counter(rank) " -";
  padding: 3px;
  font-size: 1.1rem;
  color: #fff; /* 文字色 */
  background: rgba(0,0,0,0.8); /* 背景色 */
}

// user_show
.user-box-1{
    display: block;
}

.user-label{
    margin-top: 20px;
}

.user-table{
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-table th{
    padding: 10px;
}

.user-table td{
    padding: 10px;
}
.user-recipe-label{
    margin-top: 20px;
}

.favorite-label{
    margin-top: 20px;
}


@media screen and (max-width:768px){
  .bg-img{
  background-image: image-url("bg.jpeg");
  background-size:cover;
  }
  
  .navbar {
    padding: -0.7rem 55rem;
  }
  
  .mikan-image {
    width: 250px;
    height: 250px;
  }
  
  .mikan-image {
    width: 122px;
    height: 190px;
  }
  
  .mikan-content + .mikan-content:not(:nth-of-type(1n + 1)):before {
    content: "";
    height: 200px;
    width: 2px;
    background: #0e6613;
    z-index: 1;
    position: absolute;
    top: 10px;
    left: -1px;
  }
  
  .navbar {
    padding: 0.3rem 55rem;
  }
  
  .footer {
    width: 100%;
  }
}