<h1>ユーザー一覧</h1>
<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to admin_user_path(user.id) do %>
          <%= user.name %>
        <% end %>
      </td>
      <td><%= user.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>